html, body{
	background-color: #ff0000;
}

.container{
	position: absolute;
}

.back{
	z-index: -1;
}

.front{
	position: absolute;
	z-index: 1;
	text-align: center;
	background-color: #ffffff;
	width: 250px;
	font-size: 30px;

    top: 600px;
    left: 835px;
}

.f_front{
	position: absolute;
	z-index: 1;
	top: 100px;
	left: 350px;
}

a {
    color: red;
}